# executables
*.exe
*.o
*.out

# vscode configuration files
.vscode/

# vim files
Session.vim
*.swp

# Obsidian configuration files
.obsidian

# debug folder
Debug/

# tests
tests/

# misc
ignore/

# csv files
*.csv
